server:
  port: 8083

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: userprofile-service
          uri: lb://USER-PROFILE-SERVICE
          predicates:
            - Path=/api/v1
        - id: api-gateway
          uri: http://localhost:8761
          predicates:
            - Path=/eureka/web
        - id: api-gateway
          uri: lb://API-GATEWAY
          predicates:
            - Path=/eureka/**
<<<<<<< HEAD
<<<<<<< HEAD
        #- id: db-service
         # uri: lb://DB-SERVICE
          #predicates:
           # - Path=/
=======
        - id: db-service
          uri: lb://DB-SERVICE
>>>>>>> 18c714e096c248e5644ec21e0b2e26d6587d68d3
=======
        - id: db-service
          uri: lb://DB-SERVICE
>>>>>>> 18c714e096c248e5644ec21e0b2e26d6587d68d3
  eureka:
    client:
      service-url:
        defaultZone: http://localhost:8761/eureka
      fetch-registry: true
      register-with-eureka: true