server:
  port: 8081

spring:
  application:
    name: user-profile-service
  datasource:
    url: jdbc:mysql://localhost:3306/social_network_app
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  kafka:
    consumer:
      topic1: userProfile
      topic2: userProfileVisitTopic
      topic3: userProfileListTopic
      topicRes: response_notification
      topic4: profileVisitsList
    producer:
      bootstrap-servers: localhost:9092
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

  # Circuit Breaker Configuration
resilience4j:
  circuitbreaker:
    instances:
      myCircuitBreaker:
        failure-rate-threshold: '50'
        wait-duration-in-open-state: '10000'
        sliding-window-type: COUNT_BASED
        sliding-window-size: '10'
        permitted-number-of-calls-in-half-open-state: '5'


  # Time Limiter Configuration
  timelimiter:
    instances:
      myTimeLimiter:
        timeout-duration: 1000
